<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-sm-12-md-8-lg-3 w-50">
            <h1 class="tittle-heading text-black">This First Heading
                <span class="text-secondary">Will Catch Your Eye </span>
            </h1>
            <span class="lh-1 w-25"> Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent
                commodo cursus magna, vel scelerisque nisl consectetur. Fusce dabipus, tellus ac cursus commodo</span>
        </div>
        <div class="col-sm-12-md-8-lg-3">
            <img class="img-fluid border rounded-circle" src="https://picsum.photos/200" alt="imagen ramdon">
        </div>



    </div>