<!-- your html code here -->
<h1>Portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus possimus, excepturi necessitatibus dolorem facere, doloremque, temporibus quia ad iusto minus nobis alias maxime saepe illum dolore nam ab est ipsam.</p>
<div class="container d-flex justify-content-between img-fluid" >
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 my-4">
            <img src="https://picsum.photos/220" style="width: 340px; height: 180px;" class="img-fluid square">
            <h2>Project 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at erat in enim facilisis tincidunt. Sed
                sed libero nec leo aliquet facilisis.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 my-4">
            <img src="https://picsum.photos/250" style="width:340px; height: 180px;" class="img-fluid square">
            <h2>Project 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at erat in enim facilisis tincidunt. Sed
                sed libero nec leo aliquet facilisis.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 my-4">
            <img src="https://picsum.photos/240" style="width:340px; height: 180px;" class="img-fluid square">
            <h2>Project 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at erat in enim facilisis tincidunt. Sed
                sed libero nec leo aliquet facilisis.</p>
        </div>

    </div>

</div>