<div class="container d-flex">
    <div class="row">

        <div class="col d-flex ms-5">

            <img class="img-fluid rounder float-end rounded-circle order-first" src="https://picsum.photos/250" alt="imagen ramdon">
        </div>

        <div class="col-sm-12 col-md-6 col-lg-8 me-5 order-last">
            <h1 class="tittle-heading text-black">This Second Heading
                <span class="text-secondary"> Is Pretty Cool Too </span>
            </h1>

            <span class="lh-1 d-flex w-75"> Donec ullamcorper nulla non metus auctor
                fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent
                commodo cursus magna, vel scelerisque nisl consectetur. Fusce dabipus, tellus ac cursus
                commodo
            </span>
       
        </div>



    </div>
</div>