<div class=" card position relative">
    <img class="img-fluid" src="https://pixnio.com/free-images/2017/05/31/2017-05-31-10-56-47.jpg" alt="city" />
    <div class="card-img-overlay position-center mt-5 pt-5">
        <div class="bg-white">
            <h1 class="text-center display-1 pt-5 m-3 fw-semibold ">One Page Wonder</h1>
        </div>
        <div class="bg-white">
            <p class="text-center display-5 pt-2 m-3 fw-semibold">Will Knock Your Socks Off</p>
        </div>
    </div>
</div>